<!--<script type='text/javascript' src="form.js.erb"></script>-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!html>

<div>
  <div id="header">
    <h4>Next Mock Interview Day: August 22, 2015</h4>
  </div>
  <%=image_tag("mockmasthead.jpg", alt: "CareerBuilder Mock Interview Daya", class:"respimg")%>
      </div>
      <section>
        <h2>Schedule Your Mock Interview Here</h2>

        <%= render 'interview_slots/index' %>

        <%= form_for :interview, url: new_interview_path do |f| %>
            <div id="abc">
              <!-- Popup Div Starts Here -->
              <div id="popupContact">

                <div id="abcform">
                  <!-- Contact Us Form -->
                  <%=image_tag("close_icon.jpg", :onclick =>"div_hide()", :class =>"close_icon" )%>
                  <h2 style="background-color: cornflowerblue">Enter Your Information</h2>
                  <hr>
                  <%= f.hidden_field( :interviewField, :id=> 'interviewField') %>
                  <%= f.hidden_field( :interviewTime, :id => 'interviewTime') %>
                  <%= f.hidden_field( :slotTimeDescription, :id=> 'slotTimeDescription') %>
                  <%= f.hidden_field( :interviewStatus, :id => 'interviewstatus', :value => "Available") %>
                  <%= f.hidden_field( :slotID, :id => 'slotID') %>
                  <%= f.text_field :name, :id => 'first_Name', :placeholder =>'Name'  %>
                  <%= f.text_field :lastName, :id => 'last_Name', :placeholder =>'Last Name' %>
                  <%= f.text_field :email, :id => 'email', :placeholder =>'Email' %>
                  <%= f.text_field :phoneNumber, :id => 'phoneNumber',:placeholder =>'Phone Number'  %>
                  <%#= f.text_area :message, :id => 'message', :placeholder =>'Tell us about You!'  %>

                  <%= fields_for :interview_slot do |i| %>
                      <%= i.hidden_field( :interviewID, :id=> 'interviewID', :value => "interview_id") %>
                      <%= i.hidden_field( :interview_id, :id=> 'interview_id') %>
                      <%= i.hidden_field( :interview_time_slot, :id=> 'interviewTimeSlot') %>
                  <% end %>


                  <%= f.submit  :id=> 'cmdsend' %>

                </div></div>
              <!-- Popup Div Ends Here -->
            </div>

        <% end %>
        <input id="bookedr" type="hidden" value="">
        <input id="bookedc" type="hidden" value="">
        </br></br></br>
        <ul>
          <li class="body_text"><span style="font-weight: 700; color:#000000">How to Register for a Mock Interview</span>
            <ul>
              <li>Select an available time slot and job tipe from the above schedules</li>
              <li>Complete the pop-up registration form</li>
              <li>You should receive an email confirming your interview time, as well as instructions on what
                  to bring, how to dress, and where to go.
              </li>
            </ul>
          </li>
        </ul>

        <br>
        <br>
        <address>
          <strong>For More Information Email</strong><br>
          <a href="mailto:cbmid@careerbuilder.com">cbmid@careerbuilder.com</a>
        </address>

      </section>
      </html>
