<!DOCTYPE html>
<html>
<style>
#header {
    background-color: #0029A3;
    color: white;
    text-align: left;
    padding: 10px;
    }
body {
        padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <a><%=image_tag("cblogo.jpg", alt: "CareerBuilder Mock Interview Day", width: 250, height: 80)%></a>
  <div class="btn-group pull-right" role="group"> 
    <a class="btn btn-default" href="/" role="button">Home</a>
    <a class="btn btn-default" href="/schedule" role="button">Schedule</a>
    <a class="btn btn-default" href="/about" role="button">About</a>
  </div>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type='text/javascript' src="form.js.erb"></script>
  <link href="../stylesheets/popupform.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
